body {
    font-family: Arial, sans-serif;
    background: #f7fbfc;
    color: #222;
    margin: 0;
    padding: 0;
}

#navbar {
    background: #222;
    color: #fff;
    padding: 20px 0 10px 0;
    text-align: center;
}

#navbar h1 {
    margin: 0 0 10px 0;
    font-size: 2em;
}

#navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

#navbar nav ul li {
    display: inline;
    margin: 0 15px;
}

#navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#navbar nav ul li a:hover {
    color: #2980b9;
}

hr {
    border: none;
    border-top: 2px solid #2980b9;
    margin: 20px 0;
}

h2 {
    color: #b97b29;
    margin-top: 30px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px 18px;
    text-align: left;
}

th {
    background: #f2f2f2;
    color: #b97b29;}